.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
.main-nav__item{
    display: inline-block;
    font-size: 25px;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* Pseudo-clases */
/* https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes */

.main-nav__item a:hover{
    color: gray;
}

.main-nav__item a:active{
    color: purple;
}

/* pseudoelementos */
/* https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-elements */

.main-nav__item a::after{
    content: "  |  ";
}